version: '3.8'

services:
  qr-queue-backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - ai-service
    restart: unless-stopped
    networks:
      - qr-queue-net

  ai-service:
    build:
      context: ./ai-service
    ports:
      - "9100:9100"
    restart: unless-stopped
    networks:
      - qr-queue-net

  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - qr-queue-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      - postgres
    restart: unless-stopped
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - qr-queue-net

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    depends_on:
      - qr-queue-backend
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    networks:
      - qr-queue-net

volumes:
  postgres_data:
  pgadmin_data:

networks:
  qr-queue-net:
    driver: bridge